/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-font, sans-serif);
  font-size: var(--font-size, 18px);
  line-height: normal;
  background-image: var(--gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wdth' var(--wdth, 100), 'wght' var(--normal-wgth, 465);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.container {
  margin: 0 auto 50px ;
  inline-size: var(--container-size, min(100%, 700px));
}

.header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block-start: 100px;
  border: 2px solid currentColor;
  padding-block-start: clamp(7.5rem, 6.4712rem + 4.9231vw, 8.625rem);
  padding-block-end: 20px;
  color: var(--accent-color, #00CC14);
  font-family: var(--accent-font, fantasy);
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color, #000);
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: default;
}

.theme-menu {
  grid-template-columns: 1fr auto 1fr;
}

.logo__link {
  font-size: var(--font-header-size, 49px);
}

.logo__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: grid;
  justify-items: start;
  justify-content: space-evenly;
  gap: .7142857em;
  margin-inline-start: 20px;
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  justify-self: start;
  border: none;
  padding: 0;
  font-size: 14px;
  line-height: normal;
  text-transform: inherit;
  background: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: moving-pointer .5s infinite alternate ease-in-out;
  inset-inline-start: 0;
  inset-block-start: 0;
}

.theme-menu__button,
.theme-menu__button::after {
  transition: opacity .3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  margin-top: 2px;
  background-color: currentColor;
  transition: transform .3s ease;
  transform: scaleX(0);
  transform-origin: 0 0;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: .6;
  pointer-events: none;
}

.theme-menu__button:hover,
.theme-menu__button:focus-visible {
  opacity: .6;
}

.content {
  flex-direction: column;
  margin-block-start: 100px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid currentColor;
  background-color: var(--bg-color, #000);
}

.card__title {
  border-block-end: 2px solid currentColor;
  padding: 4px 10px 6px;
  font-variation-settings: 'wdth' var(--wdth, 100), 'wght' var(--bold-wgth, 785);
  font-size: 18px;
}

.linear-gradient_to-bottom::after {
  content: '';
  position: absolute;
  background-image: var(--gradient-to-bottom);
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
}

.filter-blur {
  filter: blur(2px);
} 

.filter-sepia-blur {
  filter: sepia(90%) blur(2px);
}

.filter-opacity {
  opacity: .9;
}

.filter-invert {
  filter: invert(0.9);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-saturate-contrast {
  filter: saturate(550%) contrast(90%);
}

.filter-hue-rotate {
  filter: hue-rotate(100deg);
}

.filter-hue-rotate-saturate {
  filter: hue-rotate(-5deg) saturate(600%);
}

.card__img-group {
  position: relative;
  border-block-end: 1px solid currentColor;
  overflow: hidden;
  font-size: 0;
  background-color: gray;
  min-block-size: 50px;
}

.card__img {
  object-fit: cover;
  object-position: center;
  font-size: 14px;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__img-label {
  position: absolute;
  z-index: 1;
  opacity: .5;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  text-shadow:
  -1px 0 var(--label-contour-color), 
    0 1px var(--label-contour-color), 
    1px 0 var(--label-contour-color), 
    0 -1px var(--label-contour-color);
  cursor: default;
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  inset-block-start: clamp(1.375rem, 1.309rem + 0.2817vw, 1.5625rem);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--label-contour-color)) or (-webkit-text-stroke: 1px var(--label-contour-color))) {
  .card__img-label {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--label-contour-color);
      text-stroke: 1px var(--label-contour-color);
  }
} 

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 25.5px;
  line-height: 21px;
  font-variation-settings: 'wdth' var(--wdth, 100), 'wght' var(--normal-wgth, 465);
}

.card__text-block {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 3px;
}

.card__icon-button {
  border: 2px solid var(--bg-color, #000);
  padding: 0;
  transition: border-color var(--standart-animation, .3s ease);
  block-size: 38px;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #00CC14);
}

.card__like-button {
  padding: 0;
  min-inline-size: 130px;
}

.card__save-button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto 80px;
  padding: 16px 17px 15px;
  font-size: 14px;
  inline-size: clamp(19.25rem, 18.6118rem + 2.723vw, 21.0625rem);
}

.animate-button {
  position: relative;
  border: 2px solid currentColor;
  overflow: hidden;
  transition: box-shadow var(--standart-animation);
  min-block-size: 38px;
}

.animate-button::after {
  content: '';
  position: absolute;
  display: block;
  background-color: currentColor;
  transition: transform .5s ease-in-out;
  transform: translateX(-100%);
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
}

.animate-button:hover::after {
  transform: translateX(0);
} 

.animate-button:focus-visible {
  box-shadow: 2px 2px 0px 0px currentColor;
}

.button {
  background-color: var(--bg-color, #000);
  cursor: pointer;
}

.button__element {
  position: relative;
  z-index: 1;
}

.button__text {
  padding: 0;
  color: var(--button-text-color, #00CC14);
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  text-align: center;
  font-size: 14px;
 
  line-height: .9;
  mix-blend-mode: difference;
}

.button__icon {
  color: var(--button-text-color);
  inline-size: 2em;
  block-size: 2em;
  mix-blend-mode: difference;
  stroke: var(--button-text-color);
}

.dialog {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content auto;
  row-gap: 30px;
  column-gap: 20px;
  border: 2px solid currentColor;
  padding: 30px 42px;
  color: var(--accent-color, #00CC14);
  background-color: var(--bg-color, #000);
  inline-size: clamp(21.5625rem, 20.9984rem + 1.1268vw, 22.3125rem);
}

.wrapper {
display: grid;
grid-template-columns: auto 1fr;
grid-column-gap: 20px;
}

.dialog__form {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

.dialog__form .button {
  inline-size: 100%;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog:not([open]) {
  display: none;
  pointer-events: none;
}

.dialog__icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  inline-size: 39px;
  aspect-ratio: 1 / 1;
}

.dialog__text {
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog .button {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  text-transform: uppercase;
}

@media (width > 768px) {
  .dialog {
    padding: 30px 30px;
  }
}

@media (width >= 1440px) {
  .card__save-button {
    padding: 15px;
  }

  .button__icon {
    inline-size: 1.5em;
    block-size: 1.5em;
  }
}